exportPattern("^[[:alpha:]]+")

import(GenomeInfoDbData) 
import(GenomicRanges)
import(DelayedArray)
import(GenomicScores)
import(httr)
import(jsonlite)
import(biomaRt)
import(GenomeGraphs)
import(rentrez)
import(XML)
import(rvest)
